@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer components{
  .clip_path{
  clip-path: polygon(50% 0%, 100% 0, 98% 81%, 52% 100%, 0 79%, 0 0);


}
}

.heading{
  @apply  text-[35px] md:text-[40px] lg:text-[45px] xl:text-[50px] font-bold uppercase text-gray-900 leading-[3rem] md:leading-[4rem] text-center
  
}